@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  font-family: 'Nunito', sans-serif;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url('../fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  src: url('../fonts/Nunito-SemiBold.ttf');
}

* {
  scrollbar-width: thin;
  scrollbar-color: #293241 white;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;

  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #293241;
  border-radius: 10px;
  //border: 3px solid orange;
}

*::-webkit-scrollbar-thumb:hover {
  background: #48CAE4;
}


.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  @apply flex justify-center items-center  rounded-lg py-2 px-4
  transition duration-300 ease-in-out transform
  hover:-translate-y-1 hover:shadow-lg flex items-center
  filter drop-shadow-lg cursor-pointer
}

* {
  font-family: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  position: relative;
  height: 100vh;

}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#overflow {
  display: none;
}

.show-login-modal {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
}

.clipped {
  overflow-y: hidden;
}

.cell {
  @apply flex justify-center items-center h-12 w-24 border-b border-gray-100 border-collapse
}

.appointments {
  height: 500px;
}

.vs-input {
  width: 100% !important;
}

.vs-notification {
  border-radius: 5px !important;
}
